<tr id="ledger-{{ ledger.id }}">
    <td>{{ ledger.code }}</td>
    <td>{{ ledger.name }}</td>
    <td>{{ ledger.description }}</td>
    <td>{{ ledger.created_at|date:"M d, Y" }}</td>
    <td>
        <button hx-get="{% url 'ledger_account_detail' ledger.id %}" hx-target="#ledger_modal" hx-swap="outerHTML"
            hx-on::after-request="ledger_modal.showModal()" class="btn btn-xs btn-primary">Edit</button>
        <button hx-delete="{% url 'ledger_account_detail' ledger.id %}"
            hx-on:ledger-deleted="this.closest('tr').remove();"
            hx-confirm="¿Are you sure you want to delete this account?" hx-target-error="#toast-container"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="btn btn-xs btn-error">Delete</button>
    </td>
</tr>