{% extends 'base.html' %}

{% block content %}

<div>
    {% include 'breadcrumbs.html' %}

    <button class="btn btn-primary mb-4" hx-get="{% url 'ledger_account' %}" hx-target="#ledger_modal"
        hx-swap="outerHTML" hx-on::after-request="ledger_modal.showModal()">
        Add Ledger Account
    </button>
    {% include 'partials/add-ledger-modal.html' %}

    <label class="input input-bordered flex items-center gap-2 mb-2">
        <input type="text" class="grow" placeholder="Search" name="search" hx-get="{% url 'ledger_account_search' %}"
            hx-trigger="keyup delay:1s" hx-target="#ledger-list" hx-indicator="#spinner"
            hx-on::before-request="document.getElementById('ledger-list').style.opacity = 0.4;"
            hx-on::after-request="document.getElementById('ledger-list').style.opacity = 1.0;" />
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70">
            <path fill-rule="evenodd"
                d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                clip-rule="evenodd" />
        </svg>
        {% include 'spinner.html' %}
    </label>

    {% include 'partials/ledger-account-list.html' %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.body.addEventListener('fail', () => {
            document.getElementById('ledger_modal').showModal();
        });

        document.body.addEventListener('success', () => {
            let firstContactDiv = document.querySelector('.no-contact-row');
            if (firstContactDiv) {
                firstContactDiv.remove();
            }
        })
    });
</script>
{% endblock %}